.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.avatarWithBorder {
    box-sizing: initial; /*faz ocupar um espaço a mais ao invés de espremer no mesmo tamanho*/
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}