.wrapper {
    max-width: 70rem;
    margin: 2rem auto; /*com auto mantem centralizado*/
    padding: 0 1rem; /*evita do conteudo ficar colado nas laterais*/

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px){
    html {
        font-size: 87.5%; /*não pode usar em px tem que ser em percentual*/
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}